.product{
    padding: 60px 85px;
    background-color: hsl(0, 0%, 99%);
}

.product .product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.product .product-items .item{
    width: 90%;
    background-color: #fff;
    /* border-radius: 10px; */
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    /* border: 2px solid #666; */
}

.product .product-items .item:hover{
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
}

.product .product-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    /* object-position: top; */
    /* border-radius: 10px 10px 20px 20px; */
}
.product .product-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
    text-align: center;
}
.product .item .info h4 {
    text-transform: uppercase;
    margin-bottom: .75rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  .product .item .info p {
    display: block;
    color: #fca120;
    margin-bottom: 1rem;
    transition: .3s;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .product .item .info button {
    font-size: 16px;
    transform: translateY(1rem);
    opacity: 0;
  }  
  .product .item:hover .info button  {
    display: inline-block;
    background-color: #fca120;
    border: none;
    color: #FFF;
    padding: 1.25rem 1.8rem;
    font-weight: 600;
    transition: .3s;
    transform: translateY(0);
    opacity: 1;
  }
  
  .product .item:hover .info p  {
    margin-bottom: 1.5rem;
  }